{{> header}}

		<button id="create">create</button>
	</header>
</nav>
<canvas id="sketch" class="sketch"></canvas>
<div id="result">
	<span>Copy the link and send it to a friend!</span>
	<input type="text" id="url">
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/create.js"></script>

{{> footer}}