{{> header}}

	<button id="create" class="btn">create</button>
	<div class="clear"></div>
</nav>
<canvas id="sketch" class="sketch"></canvas>

<footer>
	<p class="note">Feel free to draw something!</p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/create.js"></script>

{{> footer}}