{{> header}}

	<a href="/sketches/create">
		<button class="btn">new sketch</button>
	</a>
	<div class="clear"></div>
</nav>
<img src="/images/{{sketch}}.png" alt="sketch" class="pic">

<footer>
	<p class="note">Copy the url and send it to a friend!</p>
</footer>

{{> footer}}